In [1]:
#Import dependencies
import pandas as pd

# Import gmaps
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [2]:
# Import csv file
file_to_load = 'weather_data/WeatherPy_Vacation.csv'

vacation_df = pd.read_csv(file_to_load)

In [3]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,1,Rikitea,PF,76.55,light rain,-23.12,-134.97,Pension Maro'i
1,6,Basco,PH,75.99,light rain,20.45,121.97,Nathaniel's Lodge
2,7,Saint-Leu,RE,77.00,light rain,-21.15,55.28,La Caz Oceane
3,24,Butaritari,KI,82.60,light rain,3.07,172.79,Isles Sunset Lodge
4,45,Manakara,MG,72.45,light rain,-22.13,48.02,La Residence Manakara

## Choosing cities
Cities: Baturaja, Bengkulu, Curup, Padang

In [4]:
# Get DataFrame for the city Baturaja and getting the coordinates
baturaja_df = vacation_df.loc[vacation_df['City'] == 'Baturaja']

baturaja_coords = (baturaja_df.iloc[0]['Lat'], baturaja_df.iloc[0]['Lng'])

baturaja_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
36,284,Baturaja,ID,75.94,light rain,-4.13,104.17,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [5]:
# Get DataFrame for the city Bengkulu and getting the coordinates
bengkulu_df = vacation_df.loc[vacation_df['City'] == 'Bengkulu']

bengkulu_coords = (bengkulu_df.iloc[0]['Lat'], bengkulu_df.iloc[0]['Lng'])

bengkulu_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
35,278,Bengkulu,ID,78.62,moderate rain,-3.8,102.27,Grage Hotel Bengkulu

In [6]:
# Get DataFrame for the city Curup and getting the coordinates
curup_df = vacation_df.loc[vacation_df['City'] == 'Curup']

curup_coords = (curup_df.iloc[0]['Lat'], curup_df.iloc[0]['Lng'])

curup_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
44,373,Curup,ID,69.4,moderate rain,-3.47,102.53,Rumah michiels

In [7]:
# Get DataFrame for the city Padang and getting the coordinates
padang_df = vacation_df.loc[vacation_df['City'] == 'Padang']

padang_coords = (padang_df.iloc[0]['Lat'], padang_df.iloc[0]['Lng'])

padang_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
6,50,Padang,ID,79.39,moderate rain,-0.95,100.35,Mercure Padang

In [8]:
# Create directions layer and use coords taken from previous cells
fig = gmaps.figure()

# Assign the directions variable
baturaja2padang_via_waypoints = gmaps.directions_layer(baturaja_coords, padang_coords, 
                                                      waypoints = [bengkulu_coords, curup_coords], 
                                                      travel_mode = 'DRIVING')

# Add the directions layer
fig.add_layer(baturaja2padang_via_waypoints)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Combining the DataFrames together
hotel_df = pd.concat([baturaja_df, bengkulu_df, curup_df, padang_df])

hotel_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
36,284,Baturaja,ID,75.94,light rain,-4.13,104.17,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
35,278,Bengkulu,ID,78.62,moderate rain,-3.80,102.27,Grage Hotel Bengkulu
44,373,Curup,ID,69.40,moderate rain,-3.47,102.53,Rumah michiels
6,50,Padang,ID,79.39,moderate rain,-0.95,100.35,Mercure Padang

In [10]:
# Add info_box_template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

In [11]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [12]:
# Adding pop-up marker layer to figure
locations = hotel_df[['Lat', 'Lng']]

fig = gmaps.figure()

# Assign the marker variable
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the directions layer
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))