In [1]:
# Import dependencies
import pandas as pd
import gmaps
import matplotlib.pyplot as plt

# Import requests library
import requests

# Import api key
from config import g_key

# Import datetime
from datetime import datetime

In [2]:
# Import weatherpy_challenge.csv
file_to_load = 'weather_data/WeatherPy_Challenge.csv'

vacation_df = pd.read_csv(file_to_load)

vacation_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Ushuaia,AR,2020-04-04 19:26:32,-54.80,-68.30,46.40,86,75,13.87,broken clouds,0.00000,0.0
1,1,Rikitea,PF,2020-04-04 19:26:33,-23.12,-134.97,76.55,79,26,15.84,light rain,0.00748,0.0
2,2,Bathsheba,BB,2020-04-04 19:26:33,13.22,-59.52,84.20,66,20,11.41,few clouds,0.00000,0.0
3,3,Punta Arenas,CL,2020-04-04 19:26:34,-53.15,-70.92,44.60,81,75,28.86,light intensity shower rain,0.00000,0.0
4,4,Albany,US,2020-04-04 19:26:35,42.60,-73.97,61.00,48,75,3.36,broken clouds,0.00000,0.0

In [3]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [4]:
# Check dtypes for DataFrame
vacation_df.dtypes

City_ID                       int64
City                         object
Country                      object
Date                         object
Lat                         float64
Lng                         float64
Max Temp                    float64
Humidity                      int64
Cloudiness                    int64
Wind Speed                  float64
Current Weather              object
Rain Inches (last 3 hrs)    float64
Snow Inches (last 3 hrs)    float64
dtype: object

In [5]:
# Check is there are any nan values
vacation_df.isnull().sum()

City_ID                     0
City                        0
Country                     2
Date                        0
Lat                         0
Lng                         0
Max Temp                    0
Humidity                    0
Cloudiness                  0
Wind Speed                  0
Current Weather             0
Rain Inches (last 3 hrs)    0
Snow Inches (last 3 hrs)    0
dtype: int64

In [6]:
# Dropping nan rows 
vacation_df = vacation_df.dropna()

In [7]:
# Confirm nan rows were dropped
vacation_df.notnull().sum()

City_ID                     543
City                        543
Country                     543
Date                        543
Lat                         543
Lng                         543
Max Temp                    543
Humidity                    543
Cloudiness                  543
Wind Speed                  543
Current Weather             543
Rain Inches (last 3 hrs)    543
Snow Inches (last 3 hrs)    543
dtype: int64

In [8]:
# Prompt cutomer for temperature and weather preferences
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))
rain = input('Do you want it to be raining? (yes/no) ')
snow = input('Do you want it to be snowing? (yes/no) ')

What is the minimum temperature you would like for your trip?  40
What is the maximum temperature you would like for your trip?  90
Do you want it to be raining? (yes/no)  yes
Do you want it to be snowing? (yes/no)  no

In [9]:
# Get preferred data from temperature preferences
preferred_cities_df = vacation_df.loc[(vacation_df['Max Temp'] <= max_temp) & (vacation_df['Max Temp'] > min_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Ushuaia,AR,2020-04-04 19:26:32,-54.80,-68.30,46.40,86,75,13.87,broken clouds,0.00000,0.0
1,1,Rikitea,PF,2020-04-04 19:26:33,-23.12,-134.97,76.55,79,26,15.84,light rain,0.00748,0.0
2,2,Bathsheba,BB,2020-04-04 19:26:33,13.22,-59.52,84.20,66,20,11.41,few clouds,0.00000,0.0
3,3,Punta Arenas,CL,2020-04-04 19:26:34,-53.15,-70.92,44.60,81,75,28.86,light intensity shower rain,0.00000,0.0
4,4,Albany,US,2020-04-04 19:26:35,42.60,-73.97,61.00,48,75,3.36,broken clouds,0.00000,0.0

In [10]:
# Get data based on answers about weather preferences

if ((rain == 'yes') and (snow == 'no')):
    rain_cities_df = preferred_cities_df.loc[preferred_cities_df['Rain Inches (last 3 hrs)'] > 0.0]
    df = rain_cities_df

elif ((rain == 'no') and (snow == 'yes')):
    snow_cities_df = preferred_cities_df.loc[preferred_cities_df['Snow Inches (last 3 hrs)'] > 0.0]
    df = snow_cities_df

elif ((rain == 'yes') and (snow == 'yes')):
    rain_snow_cities_df = preferred_cities_df.loc[(preferred_cities_df['Rain Inches (last 3 hrs)'] > 0.0) & (preferred_cities_df['Snow Inches (last 3 hrs)'] > 0.0)]
    df = rain_snow_cities_df

elif ((rain == 'no') and (snow == 'no')):
    no_rain_snow_cities_df = preferred_cities_df.loc[(preferred_cities_df['Rain Inches (last 3 hrs)'] == 0.0) & (preferred_cities_df['Snow Inches (last 3 hrs)'] == 0.0)]
    df = no_rain_snow_cities_df

else:
    print('Please confirm you answered all questions correctly.')

if (df.empty is True):
    print('No cities match your criteria.')

else:
    print(df.head())

    City_ID        City Country                 Date    Lat     Lng  Max Temp  \
1         1     Rikitea      PF  2020-04-04 19:26:33 -23.12 -134.97     76.55
6         6       Basco      PH  2020-04-04 19:26:36  20.45  121.97     75.99
7         7   Saint-Leu      RE  2020-04-04 19:26:37 -21.15   55.28     77.00
24       24  Butaritari      KI  2020-04-04 19:26:48   3.07  172.79     82.60
45       45    Manakara      MG  2020-04-04 19:27:01 -22.13   48.02     72.45

    Humidity  Cloudiness  Wind Speed Current Weather  \
1         79          26       15.84      light rain
6         84          35       23.42      light rain
7         78          36       11.41      light rain
24        80          65        9.57      light rain
45        86          91        7.96      light rain

    Rain Inches (last 3 hrs)  Snow Inches (last 3 hrs)
1                   0.007480                       0.0
6                   0.020079                       0.0
7                   0.010236                       0.0
24                  0.025984                       0.0
45                  0.040551                       0.0

In [11]:
df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,1,Rikitea,PF,2020-04-04 19:26:33,-23.12,-134.97,76.55,79,26,15.84,light rain,0.007480,0.0
6,6,Basco,PH,2020-04-04 19:26:36,20.45,121.97,75.99,84,35,23.42,light rain,0.020079,0.0
7,7,Saint-Leu,RE,2020-04-04 19:26:37,-21.15,55.28,77.00,78,36,11.41,light rain,0.010236,0.0
24,24,Butaritari,KI,2020-04-04 19:26:48,3.07,172.79,82.60,80,65,9.57,light rain,0.025984,0.0
45,45,Manakara,MG,2020-04-04 19:27:01,-22.13,48.02,72.45,86,91,7.96,light rain,0.040551,0.0

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = df[['City', 'Country', 'Max Temp', 'Current Weather', 'Lat', 'Lng']].copy()

# Add a new column for hotel name
hotel_df['Hotel Name'] = ''

hotel_df.head()

          City Country  Max Temp Current Weather    Lat     Lng Hotel Name
1      Rikitea      PF     76.55      light rain -23.12 -134.97
6        Basco      PH     75.99      light rain  20.45  121.97
7    Saint-Leu      RE     77.00      light rain -21.15   55.28
24  Butaritari      KI     82.60      light rain   3.07  172.79
45    Manakara      MG     72.45      light rain -22.13   48.02

In [13]:
# Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [14]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the lat and lon to location key for the params dictionary
    params['location'] = f'{lat}, {lng}'
    
    # Use the search term: lodging and our lat and lon
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
        
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Call rows of hotel_df
hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
1,Rikitea,PF,76.55,light rain,-23.12,-134.97,Pension Maro'i
6,Basco,PH,75.99,light rain,20.45,121.97,Nathaniel's Lodge
7,Saint-Leu,RE,77.00,light rain,-21.15,55.28,La Caz Oceane
24,Butaritari,KI,82.60,light rain,3.07,172.79,Isles Sunset Lodge
45,Manakara,MG,72.45,light rain,-22.13,48.02,La Residence Manakara

In [16]:
# Add info_box_template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots
# Get the lat, lon, and max temp
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, 
                                max_intensity = 300, point_radius = 4)

# Assign the marker variable
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the heatmap and marker layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create the output csv file
output_data_file = 'weather_data/WeatherPy_vacation.csv'

hotel_df.to_csv(output_data_file, index_label = 'City_ID')