In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2020-04-01 17:42:14,-22.97,-42.03,78.80,78,75,6.93
1,1,Cidreira,BR,2020-04-01 17:42:14,-30.18,-50.21,76.03,77,88,18.10
2,2,Novozybkov,RU,2020-04-01 17:42:14,52.54,31.93,39.20,41,89,11.18
3,3,Rikitea,PF,2020-04-01 17:42:15,-23.12,-134.97,78.66,73,27,4.68
4,4,Garoua,CM,2020-04-01 17:42:15,9.30,13.40,104.00,26,72,9.17

In [3]:
# Check dtypes for each column
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature
max_temp = city_data_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights =[max(temp, 0) for temp in max_temp], 
                                 dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
# Get the latitude, longitude, humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, 
                                max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap for percent cloudiness
# Get the latitude, longitude, and cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, 
                                max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap for wind speed
# Get latitude, longitude, and wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

# Assign figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, 
                                max_intensity = 300, point_radius = 4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [15]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                      (city_data_df['Max Temp'] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2020-04-01 17:42:14,-22.97,-42.03,78.80,78,75,6.93
1,1,Cidreira,BR,2020-04-01 17:42:14,-30.18,-50.21,76.03,77,88,18.10
3,3,Rikitea,PF,2020-04-01 17:42:15,-23.12,-134.97,78.66,73,27,4.68
8,8,Nabire,ID,2020-04-01 17:42:16,-3.37,135.48,75.27,91,100,2.62
13,13,Tual,ID,2020-04-01 17:42:17,-5.67,132.75,83.55,75,99,9.48
17,17,Pangai,TO,2020-04-01 17:42:18,-19.80,-174.35,79.79,77,93,11.07
22,22,Manicore,BR,2020-04-01 17:42:19,-5.81,-61.30,87.80,70,40,3.36
27,27,Salalah,OM,2020-04-01 17:40:20,17.02,54.09,82.40,78,40,3.36
29,29,Sambava,MG,2020-04-01 17:42:21,-14.27,50.17,77.99,89,89,4.74
31,31,Jaisalmer,IN,2020-04-01 17:42:21,26.91,70.92,82.90,26,0,7.09

In [16]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()

# Add a new column for hotel name
hotel_df['Hotel Name'] = ''

hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0   Arraial Do Cabo      BR     78.80 -22.97  -42.03
1          Cidreira      BR     76.03 -30.18  -50.21
3           Rikitea      PF     78.66 -23.12 -134.97
8            Nabire      ID     75.27  -3.37  135.48
13             Tual      ID     83.55  -5.67  132.75
17           Pangai      TO     79.79 -19.80 -174.35
22         Manicore      BR     87.80  -5.81  -61.30
27          Salalah      OM     82.40  17.02   54.09
29          Sambava      MG     77.99 -14.27   50.17
31        Jaisalmer      IN     82.90  26.91   70.92

In [19]:
# Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [22]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the lat and lon to location key for the params dictionary
    params['location'] = f'{lat}, {lng}'
    
    # Use the search term: 'lodging' and our lat and lon
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# Call first 10 rows of hotel_df
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,78.80,-22.97,-42.03,Pousada Porto Praia
1,Cidreira,BR,76.03,-30.18,-50.21,Novomar Pousada e Turismo Ltda
3,Rikitea,PF,78.66,-23.12,-134.97,Pension Maro'i
8,Nabire,ID,75.27,-3.37,135.48,Hotel Nusantara Nabire
13,Tual,ID,83.55,-5.67,132.75,Grand Vilia Hotel
17,Pangai,TO,79.79,-19.80,-174.35,Ha'apai Beach Resort
22,Manicore,BR,87.80,-5.81,-61.30,Pousada da wanda
27,Salalah,OM,82.40,17.02,54.09,HAMDAN PLAZA HOTEL
29,Sambava,MG,77.99,-14.27,50.17,Melrose
31,Jaisalmer,IN,82.90,26.91,70.92,Hotel Fifu

In [30]:
# Add info_box_template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots
# Get the lat, lon and max temp
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, 
                                max_intensity = 300, point_radius = 4)

# Assign the marker variable to be added for each city (argument in parentheses is your coords)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the heatmap and marker layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))